@use 'colours.scss';

footer {
    width: 80%;
    margin: auto;
    margin-top: 3em;
    height: 10vh;
        .divider {
                width: 100%;
                margin-bottom: 0.5em;
            }
}