@use 'colours.scss';

header {
    margin-top: 1.5em;

    .header-title {
        text-align: center;
    }

    nav {

        height: 65px;
        margin: auto;

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            li {
                padding: 0 1em 0 1em;

            }
        }

        .selected {
            background-color: colours.$colour-primary;
            padding: 0 1em 0 1em;
            text-decoration: 2px underline;
            text-decoration-color: black;
        }

    }

    .divider {
        width: 80%;
    }

}

.divider {
    min-width: 50%;
    margin: auto;
    height: 5px;
    background-color: colours.$colour-primary;
    border-radius: 5px;
}

.up {
    background: none;
    border: 2px 0px 2px 2px solid colours.$bg-main;
    color: colours.$bg-main;
    cursor: pointer;
    transition: 0.5s;
}

.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 colours.$colour-primary;
    border-color: colours.$colour-primary;
}