@use 'colours.scss';

header {
    margin-top: 1.5em;

    .header-title {
        text-align: center;
    }

    nav {

        height: 65px;
        margin: auto;

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            li {
                padding: 0 1em 0 1em;

            }
        }

        .selected {
            background-color: colours.$colour-primary;
            padding: 0 1em 0 1em;
            text-decoration: 2px underline;
            text-decoration-color: black;
        }

    }

    .divider {
        width: 80%;
    }

}

.divider {
    min-width: 50%;
    margin: auto;
    height: 5px;
    background-color: colours.$colour-primary;
    border-radius: 5px;
}

